<style>
    body {text-align: center;}
</style>
<body>
<div>
    <h1>Welcome to Chitter!</h1>
    <form action='/signIn' method='get'>
        <input id='sign-in' type='submit' name='signIn' value='Sign In'>
    </form>
    <form action='/signUp' method='get'>
        <input id='sign-up' type='submit' name='signup' value='Sign Up'>
    </form>
</div>
</body>