<style>
    body {text-align: center;background-color: black;color: white;}
</style>
<body>
<h2>Sign Up</h2>
<form action="/newUser" method="post">
    <input id="registrations-email" type="text" name="email" placeholder="Email">
    <input id="registrations-username" type="text" name="username" placeholder="Username">
    <input id="registrations-name" type="text" name="name" placeholder="Name">
    <input id="registrations-password" type="password" name="password" placeholder="Password">
    <input id="registrations-submit" type="submit" value="Submit">
</form>
<form action='/return' method="get">
    <input type='submit' name='Return' value='Return' >
</form>
<h3>Error: Email and Username must be Unique</h3>
</body>